body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .name-logo-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    flex-direction: row; /* Arrange items in a row */
  }
  
  .name {
    font-size: 3.5em; /* Adjust size as needed */
    font-weight: bold;
    color: black; /* Or any color that suits your dark mode */
    /* Add more styling as needed */
  }
  
  .logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin: 0 3px; /* Adjust spacing around the logo as needed */
  }
  
  /* Additional responsive styling if needed */
  @media (max-width: 768px) {
    .name {
      font-size: 1.8em; /* Smaller text on mobile devices */
    }
    .logo {
      width: 55px; /* Smaller logo on mobile devices */
      margin: 0 1.5px; /* Less spacing on mobile */
    }
  }
  