body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .name-logo-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: row;
  }
  
  .name {
    font-size: 3.5em; 
    font-weight: 400;
    color: black; 
 
  }
  
  .logo {
    width: 6em; 
    height: auto;
    margin: 0; 
  }
  
  /* Additional responsive styling */
  @media (max-width: 768px) {
    .name {
      font-size: 1.8em; 
    }
    .logo {
      width: 1.75em; 
      margin: 0; 
    }
  }
  