.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .navbar .logo {
    height: 40px;
    width: auto;
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand,
  .navbar .dropdown-menu {
    font-size: 0.8rem;
  }
  
  .navbar .form-control {
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 0.8rem;
  }
  
  .navbar .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
  