.Social-media-links {
    text-align: center;
  }
.Social-media-links a .react-icon {
    font-size: 3em; 
    margin: 0.1em;
    transition: transform 0.2s ease-in-out;
  }
  .Social-media-links a:hover .react-icon {
    transform: scale(1.15,1.15);
  }

  